# Logs
logs/
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Temporary files
tmp/
temp/

# Optional Node files (solo si algún día usas npm)
node_modules/
npm-debug.log*
yarn-error.log*
.npm
.eslintcache
.node_repl_history
*.tgz